.Wrapper_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-color);
    overflow: hidden !important;

}

.Wrapper_container .wrapper_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    height: 100vh;
    background-color: var(--primary-bg-color);
    position: relative;
    border-left: 3px solid green;
    border-right: 3px solid green;
    overflow: hidden !important;


}

@media only screen and (max-width: 576px) {
   .Wrapper_container {
       padding: 0 !important;
   }

   .Wrapper_container .wrapper_col {
    border-left:none;
    border-right: none;
}
}