@font-face {
  font-family: "headline-gothic-atf";
  src: url("../assets/fonts/headline-gothic-atf.woff2") format("woff2");
}

@font-face {
  font-family: "BentonSans_Black";
  src: url("../assets/fonts/BentonSans_Black.woff2") format("woff2");
}
@font-face {
  font-family: "BentonSans_Black_Regular";
  src: url("../assets/fonts/BentonSans_Black_Regular.woff2") format("woff2");
}

/* gothic light */
@font-face {
  font-family: "BentonSans_light_Regular";
  src: url("../assets/fonts/BentonSans_Light_Regular.woff2") format("woff2");
}

:root {
  --primary-bg-color: #0fd56f;
  --secondary-bg-color: #fcdc00;
  --red-bg-color: #ff0000;
  --white-bg-color: #ffff;
  --button-bg-color: #e81d2c;
  --green-color: #005d37;

  --primary-text-color: #0fd56f;
  --secondary-text-color: #000;
  --white-text-color: #fff;
  --yellow-text-color: #fcdc00;

  --gothic-font: "headline-gothic-atf", sans-serif;
  --banton-font: "BentonSans_Black", sans-serif;
  --banton-regular-font: "BentonSans_Black_Regular", sans-sarif;
  --banton-light-font: "BentonSans_light_Regular", sans-sarif;
}
