:root {
    /*  //////////////////// background Color ////////////////////////// */
    --primary-bg-color: #00B144;
    --secondary-bg-color: #FFE53F;
        --red-bg-color:#FF0000;
       --white-bg-color:#FFFF; 

    /*  //////////////////// Text Color ////////////////////////// */

    --primary-text-color: #00B144;
    --secondary-text-color: #000;
    --white-text-color: #FFF;
    --yellow-text-color: #FFE53F;


    /*  //////////////////// Font Family ////////////////////////// */

    --gothic-font: 'Gothic', sans-serif;
    --banton-font: 'bantonSansBlack', sans-serif;


  }
@font-face {
    font-family: var(--gothic-font);
    src: url('../assets/fonts/headline-gothic-atf.woff2') format('woff2');
  } ;


  @font-face {
    font-family: var( --banton-font);
    src: url('../assets/fonts/BentonSans\ Black.woff2') format('woff2');
  } ;
