/* @keyframes slideIn {
    from {
        transform: translateX(0px);
        opacity: 0;
    }
    to {
        transform: translateX(50);
        opacity: 1;
    }
} */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.landing_header_wrapper {
    padding: 20px 0;
    width: 435px;
    height: auto;
    animation: fadeIn 1s ease-out;
}


.landing_logo_wrapper {
    width: 140px !important;
    height: auto;
    animation: fadeIn 1.2s ease-out;
}

.landing_bottle_wrapper {
    width: 140px !important;
    height: auto;
    animation: fadeIn 1.4s ease-out;
}

.landing_footer_wrapper {
    width: 450px !important;
    height: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -0%);
    animation: fadeIn 1.6s ease-out;
}

.landing_bottleNeck_wrapper {
    width: 70px;
    position: absolute;
    top: 40% !important;
    right: 0% !important;
    transform: translate(-0%, -50%) !important;
    animation: fadeIn 1.9s ease-out;
}



@media only screen and (max-width: 1300px) {
       .landing_header_wrapper{
        padding: 15px 0;
        width: 440px;
        height: auto;
    }
       .landing_logo_wrapper {
        width: 120px;
        height: auto;
    }

       .landing_bottle_wrapper {
        width: 135px;
        height: auto;
    }

       .landing_footer_wrapper {
        width: 440px !important;
        /* margin-top: auto !important; */
    }
}

@media only screen and (max-width: 576px) {
       .landing_header_wrapper{
        width: 80%;
    }
       .landing_logo_wrapper {
        width: 120px;
    }

       .landing_bottle_wrapper {
        width: 135px;
    }

       .landing_footer_wrapper {
        width: 100% !important;
    }


}
@media only screen and (max-width: 480px) {
       .landing_header_wrapper{
        width: 80%;
    }
       .landing_logo_wrapper {
        width: 135px;
    }

       .landing_bottle_wrapper {
        width: 110px !important;
        padding-bottom: 10px;
        /* margin-top: auto !important; */
    }

       .landing_footer_wrapper {
        width: 100% !important;
    }
}

/* ///////////////  Max Height  ///////////////// */

@media (max-width: 500px) and (max-height: 950px) {

    .landing_logo_wrapper {
        width: 170px !important;
    }

       .landing_bottle_wrapper {
        width: 175px !important;
    }


} 




@media (max-width: 500px) and (max-height: 800px) { 

    /*    .landing_header_wrapper{
        width: 85% !important;
    } */
       .landing_logo_wrapper {
        width: 140px !important;
    }

       .landing_bottle_wrapper {
        width: 105px !important;
    }
    /*    .landing_footer_wrapper {
        width: 100% !important;
    } */
}

@media (max-width: 440px) and (max-height: 610px) {

       .landing_header_wrapper{
        padding: 10px 0 !important;
        width: 70% !important;
    }
       .landing_logo_wrapper {
        width: 90px !important;
    }

       .landing_bottle_wrapper {
        width: 95px !important;
    }

       .landing_bottleNeck_wrapper {
        width: 55px !important;
      
    }
}

