

.form_page_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    /* overflow: hidden; */
}

.form_wrapper {
    width: 400px !important;
    position: relative;
    z-index: 1;
}
.form-control{
    color: var(--primary-text-color) !important;
}

.form-control.is-invalid{
    background-image: none !important;
}

  .form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white  inset !important;
    -webkit-text-fill-color: var(--primary-text-color) !important;
   
  }
  .form-control:focus {
    background-color: white !important; 
    color: var(--primary-text-color) !important;
  }

/* Apply animations to the header image */
.form_header_wrapper {
    padding:  0;
    width: 500px !important;
    height: auto;
    animation: formFadeIn 3s ease-in-out;
    position: relative;
    z-index: 0;

}
.form_header_wrapper .form_header_lottie {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.form_header_lottie {
    width: 100%;
    height: auto;
}

/* ///////////  Heading Wrapper /////////// */
.form_heading_wrapper{

    padding:  0;
    width: 500px !important;
    height: auto;
    animation: formFadeIn 2s ease-in-out;
    position: relative;
text-align: center !important;
margin-top: calc(100vh - 86vh) !important;
}

.form_heading_wrapper p{

    font-size: 24px;
    font-family: var(--banton-font);
    color: white;
    line-height: 28px;
    margin-bottom: 0;
}


/*  /////////////////   Input Box   //////////////////// */

.form_input_wrapper {

    margin-top: 5px;

}
.form_input_wrapper label{
    color: var(--yellow-text-color);
    margin: 3px 10px;
    font-size: 18px;
    font-family: var(--banton-font);
font-weight: 600;
}

.form_input_wrapper label,
.form_selectbox_wrapper label{
    color: var(--yellow-text-color);
    margin: 3px 10px;
    font-size: 18px;
    font-family: var(--banton-font);
font-weight: 600;
line-height:  0;

}

.form_custom_input {
    box-shadow:0 0 0 0 !important;
    border: none;
    background: none;
    border-radius: 15px;
    background-color: white !important;
    color: var(--primary-text-color) !important;
    font-weight: 300 !important;
    font-size: 20px;
    font-family: var(--banton-font) ;
    letter-spacing: .5px;
    padding: 10px 15px  !important;
}
.unique_id_wrapper{
    display: flex;

}
.unique_id_wrapper button{
    border: none;
    border-radius: 50%;
    background-color: white;
    padding: 10px 17px !important;
    margin-left: 7px;
}
.unique_id_wrapper button img{
    width: 18px;
}
.description_unique_id{
    margin-top: 5px;
    margin-left: 5px;

}
.description_unique_id p{
    font-size: 13px;
    font-family: var(--banton-font);
    font-weight: 500;
    color: white;
    letter-spacing: .5px;
    margin-bottom: 5px;

}

.form_input_wrapper .invalid-feedback{
    margin-top: 0 !important;
    background:transparent;
     box-shadow:0 0 0 0 !important;
     text-transform: capitalize !important;

}
.form_custom_input::placeholder {
    font-weight: 300 !important;
    color: #ababab;
}
.form_custom_input:focus {
    background-color: var(--yellow-text-color);
    outline: none;
    box-shadow: none;
    color: var(--primary-text-color) !important;
}

/*  /////////////////   Select Box   //////////////////// */

.css-13cymwt-control{
    border-radius: 15px !important;
    background-color:white !important;
    color: var(--primary-text-color) !important;
    font-size: 20px !important;

    font-weight: 300 !important;
    font-family: var(--banton-font);
    letter-spacing: .5px !important;
    padding: 4px 5px !important;
    width: 100% !important;
    border:none !important;
}
.css-feonkk-Input2{
    color: var(--primary-text-color) !important;
}

.css-1jqq78o-placeholder{
    color: #ababab !important;
}

.css-t3ipsp-control{
    border-radius: 15px !important;
    background-color: white !important;
    color: var(--primary-text-color) !important;
    font-size: 20px !important;
    letter-spacing: .5px !important;

    font-weight: 300 !important;
    font-family: var(--banton-font);
    padding: 2px 5px !important;
    width: 100% !important;
    border:none !important;
    box-shadow: none !important;
}

.css-1nmdiq5-menu{
    background-color: var(--primary-bg-color) !important;
}
.css-1u9des2-indicatorSeparator{
    background-color: transparent !important;
}
.css-tr4s17-option{
    background-color: var(--primary-bg-color) !important;
}
.css-1xc3v61-indicatorContainer svg{
color: var(--primary-bg-color) !important;
}
.css-10wo9uf-option{

    /* background-color:var(--primary-text-color)!important;
    color: var(--yellow-text-color) !important; */
    font-size: 20px !important;
    color: white !important;
}
.css-10wo9uf-option:nth-of-type(even) {
    background-color: #00b451 !important;
    color: white !important;
    border-radius: 10px !important;
}

/* Style for odd options */
.css-10wo9uf-option:nth-of-type(odd) {
    background-color: #01d366 !important;
    color: white !important;
}



.css-d7l1ni-option{
    background-color: var(--secondary-bg-color) !important;
    color: var(--primary-text-color) !important;
    font-size: 20px !important;
    border-radius: 10px !important;
}
.css-w9q2zk-Input2,
.css-1dimb5e-singleValue{
    color: var(--primary-text-color) !important;

}
.css-w9q2zk-Input2 input{
color: var(--primary-text-color) !important;
}
.css-151sz6c-indicatorContainer{
    color: var(--primary-bg-color) !important;
}
.css-151sz6c-indicatorContainer svg{
    color: var(--primary-bg-color) !important;
}
.form_custom_select {
    border-radius: 15px !important;
    background-color:white !important;
    color: var(--primary-text-color) !important;
    font-size: 20px;

    font-weight: 300 !important;
    font-family:var(--banton-font) !important;
    letter-spacing: 1px;
    padding: 10px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none !important;
    background-image: none !important ;
    background-size: 0px !important;
}
select{
    background-image: none !important ;

}

.form_custom_select:focus {
    outline: none !important;
    box-shadow: none !important;
}
.form_selectbox_wrapper {
    margin-top: 5px;
    position: relative;
    background-image:none !important;
}

.form_custom_select {
    padding-right: 40px !important;
}
.form_custom_select option {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    font-weight: 300;
    font-family: var(--gothic-font);
    letter-spacing: 1px;
}

.form_selectbox_wrapper select {
    width: 100% !important;
}


/* //////////////////  SCROLL DESIGN FOR SELECT BOX       /////////////////////////////// */
.css-1jj59y3-MenuList2 {
    max-height: 300px;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 4px;
    padding-top: 4px;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Smooth scrolling */
}

.css-1jj59y3-MenuList2::-webkit-scrollbar {
    width: 8px;
}

.css-1jj59y3-MenuList2::-webkit-scrollbar-thumb {
    background-color: #00B144; /* Scrollbar thumb color */
    border-radius: 4px; /* Rounded corners */
}

.css-1jj59y3-MenuList2::-webkit-scrollbar-thumb:hover {
    background-color: #009935; /* Thumb color on hover */
}

.css-1jj59y3-MenuList2::-webkit-scrollbar-track {
    background-color: #FFE53F; /* Scrollbar track color */
    border-radius: 4px; /* Rounded corners */
}

/* Optional: For other browsers, you can use the following pseudo-elements */
.css-1jj59y3-MenuList2::-moz-scrollbar {
    width: 8px;
}

.css-1jj59y3-MenuList2::-moz-scrollbar-thumb {
    background-color: #00B144;
    border-radius: 4px;
}

.css-1jj59y3-MenuList2::-moz-scrollbar-thumb:hover {
    background-color: #009935;
}

.css-1jj59y3-MenuList2::-moz-scrollbar-track {
    background-color: #FFE53F;
    border-radius: 4px;
}

/* Firefox only */
.css-1jj59y3-MenuList2 {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #FCDC00 #0fd56f; /* Thumb and track colors */
}



/*  /////////////////   Check Box   //////////////////// */

.form_checkbox_wrapper {
    width: 100%;
    background-color: transparent;
    padding: 10px 5px 10px 5px;
}
.form_checkbox_wrapper .tc_wrapper{
       display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}
.form_checkbox_wrapper input {
    width: 30px !important;
    height: 30px !important;
    box-shadow: none;
    border: none !important;
    color: var(--primary-text-color) !important;
    

}
.form_checkbox_wrapper label {
    line-height: 18px;
    color: white !important;
    font-size: 14px;
    font-family: var(--banton-font);
    margin: 0 10px;
    cursor: pointer;
}
.form_checkbox_wrapper label:nth-child(2) {
/* margin-right: 40px; */
}

.form_checkbox_wrapper input:checked {
    background-color: var(--secondary-bg-color) !important;
    border-color: none !important;
}
.form_checkbox_wrapper span {
    color: white !important;
    font-size: 18px !important;
    font-family: var(--gothic-font);
    letter-spacing: 2px;
    font-weight: 600;
}
.form_input_wrapper .error_message,
.form_selectbox_wrapper .error_message,
.form_checkbox_wrapper .error_message{
    font-weight: 500 !important;
    font-family: var(--gothic-font);
    letter-spacing: 1px;
    box-shadow:none !important;
    text-transform: capitalize !important;
margin-left: 10px !important;
}

.selectBox_error_message{
    font-weight: 300 !important;
    font-family: var(--gothic-font);
    letter-spacing: 1px;
    box-shadow:none !important;
    text-transform: capitalize !important;

    
/* padding-left: 5px !important; */
margin-top: 0px !important;
}
.form_button_wrapper {
    text-align: center;
}
.form_button_wrapper button {
    margin-top: 12px;
    width: 100%;
    padding: 4px 40px !important;
    border-radius: 15px !important;
    background-color: var(--button-bg-color);
    border: none;
    border-bottom: 4px solid darkgreen;
    font-size: 28px !important;
    font-family: var(--gothic-font);
    letter-spacing: 1px;
    color: white;
}

.form_button_wrapper button:disabled {
background-color: #ababab;
color: white;
cursor: no-drop;
}
.form_button_wrapper button:focus {
    background-color: var(--secondary-bg-color) !important;
    border-bottom: 4px solid gray !important;

}
.form_button_wrapper .btn:hover {
    background-color: white !important;
    color:var(--button-bg-color); ;
    border-bottom: 4px solid gray !important;
}

.form_bottle_wrapper {
    position: absolute;
    width: 100px;
    top: 100% !important;
    left: 50%;  
    transform: translate(-50%, -50%);
    animation: formFadeIn 3s ease-in-out;

}


.form_left_circle{
    position: absolute;
    width: 11%;
    left: -1%;
    bottom: 0%;
    transform: translate(-0%,-50%);

}
.form_right_circle{
    position: absolute;
    right: -2%;
    bottom: 15%;
    transform: translate(-0%,-50%);
    width: 10%;
    z-index: 0;
}
/* Add keyframes for the animations */
@keyframes slideInn {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes formFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.response_error{
    color:red;
     text-align: center;
      font-weight: 600;
      font-family: var(--banton-font);
      text-transform: capitalize !important;
}
.response_success{
    color:green;
     text-align: center;
      font-weight: 600;
      font-family: var(--banton-font);
}

.form_custom_input {
    text-transform: none !important; /* Ensure text is not automatically transformed to uppercase */
    /* Other styles */
}

.form-control {
    text-transform: none !important; /* Ensure text is not automatically transformed to uppercase */
    /* Other styles */
}
@media only screen and (max-width: 500px) {

    .form_page_wrapper{ 
        width: 100vw !important;
    }
    .form_header_wrapper {
        width: 100% !important;
    }

    .form_wrapper {
        width: 90% !important;
    }
    .form_checkbox_wrapper input {
        width: 37px !important;
        height: 30px !important;
    }
    .form_checkbox_wrapper label {
        font-size: 12px !important;
    }
    .form_button_wrapper button {
        width: 90%;
        padding: 4px 24px !important;
        font-size: 22px !important;
    }


}

@media only screen and (max-width: 380px) {
    /* .form_bottle_wrapper {
        width: 43% !important;
        top: 100% !important;
    } */
}

/* ///////////////  Max Height  ///////////////// */

@media only screen and (max-height: 950px) {

    .form_bottle_wrapper {
        width: 90px;
        top: 101% !important;
    }

}

@media only screen and (max-height: 810px) {
    .form_heading_wrapper{

        margin-top: calc(100vh - 86vh) !important;

    }
    .form_custom_input {
        padding: 7px 15px !important;
    }
    .unique_id_wrapper button {
        padding: 7px 15px !important;

    }
    .css-13cymwt-control{
        padding: 1px 5px !important
    }
    
    .form_heading_wrapper p{
        font-size: 22px;
        line-height: 24px;
    }
    .form_button_wrapper button {
         margin-top: 0px;
    }
    
    .form_bottle_wrapper {
        width: 70px;
        top: 103% !important;
    }

}

/* @media only screen and (max-height: 740px) {
    .form_input_wrapper,
    .form_selectbox_wrapper{
        margin-top: 2px;
    } 

    .form_button_wrapper button{
        margin-top: 5px !important;
    }
    .form_bottle_wrapper {
        width: 90px;
        top: 98% !important;
        transform: translate(-50%,-50%);
    }
} */

@media only screen and (max-height: 735px) {

    .form_heading_wrapper{
        margin-top: 40px;
    }
    .form_input_wrapper,
    .form_selectbox_wrapper{
        margin-top: 1px;
    } 

    .form_button_wrapper button{
        margin-top: 1px !important;
    }
    .form_custom_input {
        font-size: 14px;
        border-radius: 10px;
    }
    .form_input_wrapper label,
    .form_selectbox_wrapper label{
        margin: 1px 10px;
        font-size: 14px;
        line-height: 0;
    }


    .unique_id_wrapper button {
        padding: 4px 11px !important;

    }
    .unique_id_wrapper button img{
        width: 14px;
    }

    .css-13cymwt-control{
        border-radius: 10px !important;
        font-size: 14px !important;
        padding: 0px 5px !important;
    }
    .css-t3ipsp-control{
        border-radius: 10px !important;
        font-size: 14px !important;
        padding: 0px 5px !important;
    }
    .form_bottle_wrapper {
        width: 70px;
        top: 97% !important;
        transform: translate(-50%,-50%);
    }
}

@media only screen and (max-height: 610px) {

    .form_heading_wrapper{
        margin-top: 0px;
    }
    .form_headerMask,
    .form_headerLight {
        width: 100%;
        height: 85%;
    }
    .form_bottle_wrapper {
       display: none !important;
    }

}