/* Add keyframes for the animations */
@keyframes slideIn {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Apply animations to the form */

.form_wrapper {
    width: 400px !important;
    animation: slideIn 2s ease-out;
}
.form-control{
    color: var(--primary-text-color) !important;

}

  .form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--secondary-bg-color)  inset !important;
    -webkit-text-fill-color: var(--primary-text-color) !important;
   
  }
  .form-control:focus {
    background-color: var(--secondary-bg-color) !important; 
    color: var(--primary-text-color) !important;
  }

/* Apply animations to the header image */
.form_header_wrapper {
    padding: 30px 0 10px 0;
    width: 450px;
    height: auto;
    animation: fadeIn 3.5s ease-in-out;
}
/*  /////////////////   Input Box   //////////////////// */

.form_input_wrapper {

    margin: 10px 0;
}


.form_custom_input {
    box-shadow:0 0 0 0 !important;

    border: none;
    background: none;
    border-radius: 20px;
    background-color: var(--yellow-text-color) !important;
    color: var(--primary-text-color) !important;
    font-weight: bolder !important;
    padding: 10px;
}
.form_input_wrapper .invalid-feedback{
    margin-top: 0 !important;
    background:transparent;
     box-shadow:0 0 0 0 !important;
}
.form_custom_input::placeholder {
    color: var(--primary-text-color);
}
.form_custom_input:focus {
    background-color: var(--yellow-text-color);
    outline: none;
    box-shadow: none;
    color: var(--primary-text-color) !important;
}

/*  /////////////////   Select Box   //////////////////// */
.form_custom_select {
    border-radius: 20px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color) !important;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none !important;
    background-image: none !important ;
    background-size: 0px !important;
}
select{
    background-image: none !important ;

}

.form_custom_select:focus {
    outline: none !important;
    box-shadow: none !important;
}
.form_selectbox_wrapper {
    position: relative;
    background-image:none !important;
}
.form_selectbox_wrapper::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%-50%);
    border: 5px solid transparent;
    border-top-color: var(--primary-text-color);
    pointer-events: none;
}

.form_custom_select {
    padding-right: 40px !important;
}
.form_custom_select option {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    font-weight: bold;
}

.form_selectbox_wrapper select {
    width: 100% !important;
}



/*  /////////////////   Check Box   //////////////////// */

.form_checkbox_wrapper {
    width: 100%;
    background-color: transparent;
    padding: 10px 5px 10px 5px;
}
.form_checkbox_wrapper div{
       display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_checkbox_wrapper input {
    width: 50px !important;
    height: 30px !important;
    box-shadow: none;
    border: none !important;
    color: var(--primary-text-color) !important;
    border-radius: 20px !important;

}

.form_checkbox_wrapper input:checked {
    background-color: var(--secondary-bg-color) !important;
    border-color: none !important;
}
.form_checkbox_wrapper span {
    color: white !important;
    font-size: 16px !important;
    font-weight: 600;
}
.form_input_wrapper .error_message,
.form_selectbox_wrapper .error_message,
.form_checkbox_wrapper .error_message{
    font-weight: 700 !important;
    box-shadow:none !important;
padding-left: 5px !important;
}

.selectBox_error_message{
    font-weight: 700 !important;
    box-shadow:none !important;
padding-left: 5px !important;
margin-top: 0px !important;
}
.form_button_wrapper {
    text-align: center;
}
.form_button_wrapper button {
    padding: 4px 40px !important;
    border-radius: 30px !important;
    background-color: var(--white-bg-color);
    border: none;
    border-bottom: 4px solid gray;
    font-size: 28px !important;
    color: var(--primary-text-color);

}
.form_button_wrapper button:focus {
    background-color: var(--secondary-bg-color) !important;
    border-bottom: 4px solid gray !important;

}
.form_button_wrapper .btn:hover {
    background-color: var(--secondary-bg-color) !important;
    border-bottom: 4px solid gray !important;
}

.form_bottle_wrapper {
    position: absolute;
    width: 200px;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 4.5s ease-in-out;
}

@media only screen and (max-width: 1300px) {
    .form_header_wrapper {
        width: 440px;
        height: auto;
    }
}

@media only screen and (max-width: 576px) {
    .form_header_wrapper {
        width: 70%;
    }

    .form_wrapper {
        width: 70% !important;
    }

    .form_bottle_wrapper {
        width: 28%;
        top: 100% !important;
    }
}
@media only screen and (max-width: 480px) {
    .form_header_wrapper {
        width: 80%;
    }

    .form_wrapper {
        width: 80% !important;
    }

    .form_bottle_wrapper {
        width: 32% !important;
        top: 100% !important;
    }
    .form_checkbox_wrapper input {
        width: 40px !important;
        height: 25px !important;
    }
    .form_checkbox_wrapper label {
        font-size: 12px !important;
    }
    .form_button_wrapper button {
        padding: 4px 30px !important;
        color: var(--primary-text-color);
        font-size: 20px !important;
    }


}

@media only screen and (max-width: 380px) {
    .form_bottle_wrapper {
        width: 43% !important;
        top: 100% !important;
    }
}

/* ///////////////  Max Height  ///////////////// */




@media (max-width: 500px) and (max-height: 950px) {

    .form_wrapper {
       padding: 30px 0 !important;
    }

    .form_bottle_wrapper {
        width: 38% !important;
        top: 95% !important;
    }

} 




@media (max-width: 500px) and (max-height: 800px) { 
    .form_wrapper {
        padding: 0 !important;
     }
        .form_input_wrapper,
     .form_selectbox_wrapper{
        margin: 3px 0 !important;
     }

     .form_bottle_wrapper {
         width: 38% !important;
         top: 100% !important;
     }


}

@media (max-width: 440px) and (max-height: 610px) {
    .form_header_wrapper {
        padding: 10px 0 !important;
        width: 70% !important;
    }
    .form_checkbox_wrapper {
        padding: 10px 5px 5px 5px !important;
     }
 

    
    .form_bottle_wrapper {
        width: 38% !important;
        top: 112% !important;
    }
}
