/* Add keyframes for the animations */
@keyframes slideInn {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes formFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Apply animations to the form */

.form_wrapper {
    width: 400px !important;
    animation: slideInn 2s ease-out;
}
.form-control{
    color: var(--primary-text-color) !important;

}

  .form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--secondary-bg-color)  inset !important;
    -webkit-text-fill-color: var(--primary-text-color) !important;
   
  }
  .form-control:focus {
    background-color: var(--secondary-bg-color) !important; 
    color: var(--primary-text-color) !important;
  }

/* Apply animations to the header image */
.form_header_wrapper {
    padding: 30px 0 10px 0;
    width: 450px;
    height: auto;
    animation: formFadeIn 3.5s ease-in-out;
}
/*  /////////////////   Input Box   //////////////////// */

.form_input_wrapper {

    margin: 10px 0;
}


.form_custom_input {
    box-shadow:0 0 0 0 !important;

    border: none;
    background: none;
    border-radius: 20px;
    background-color: var(--yellow-text-color) !important;
    color: var(--primary-text-color) !important;
    font-weight: bolder !important;
    font-size: 20px;
    font-family: var(--gothic-font) !important;
    letter-spacing: 1px;
    padding: 10px 15px  !important;
}
.form_input_wrapper .invalid-feedback{
    margin-top: 0 !important;
    background:transparent;
     box-shadow:0 0 0 0 !important;
}
.form_custom_input::placeholder {
    color: var(--primary-text-color);
}
.form_custom_input:focus {
    background-color: var(--yellow-text-color);
    outline: none;
    box-shadow: none;
    color: var(--primary-text-color) !important;
}

/*  /////////////////   Select Box   //////////////////// */

.css-13cymwt-control{
    border-radius: 20px !important;
    background-color: var(--secondary-bg-color) !important;
    color: var(--primary-text-color) !important;
    font-size: 20px !important;

    font-weight: bold !important;
    font-family: var(--gothic-font) !important;
    letter-spacing: 1px !important;
    padding: 4px 5px !important;
    width: 100% !important;
    border:none !important;
}
.css-feonkk-Input2{
    color: var(--primary-text-color) !important;
}

.css-1jqq78o-placeholder{
    color: var(--primary-text-color) !important;
}

.css-t3ipsp-control{
    border-radius: 20px !important;
    background-color: var(--secondary-bg-color) !important;
    color: var(--primary-text-color) !important;
    font-size: 20px !important;

    font-weight: bold !important;
    font-family: var(--gothic-font) !important;
    letter-spacing: 1px !important;
    padding: 4px 5px !important;
    width: 100% !important;
    border:none !important;
    box-shadow: none !important;
}

.css-1nmdiq5-menu{
    background-color: var(--secondary-bg-color) !important;
}
.css-1u9des2-indicatorSeparator{
    background-color: var(--primary-bg-color) !important;
}
.css-tr4s17-option{
    background-color: var(--primary-bg-color) !important;
}
.css-1xc3v61-indicatorContainer svg{
color: var(--primary-bg-color) !important;
}
.css-10wo9uf-option{
    background-color: var(--secondary-bg-color) !important;
    color: var(--primary-text-color) !important;
    font-size: 20px !important;
}
.css-d7l1ni-option{
    background-color: var(--primary-text-color) !important;
    color: var(--secondary-bg-color) !important;
    font-size: 20px !important;
}
.css-w9q2zk-Input2,
.css-1dimb5e-singleValue{
    color: var(--primary-text-color) !important;

}
.css-w9q2zk-Input2 input{
color: var(--primary-text-color) !important;
}

.form_custom_select {
    border-radius: 20px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color) !important;
    font-size: 20px;

    font-weight: bold;
    font-family: var(--gothic-font) !important;
    letter-spacing: 1px;
    padding: 10px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none !important;
    background-image: none !important ;
    background-size: 0px !important;
}
select{
    background-image: none !important ;

}

.form_custom_select:focus {
    outline: none !important;
    box-shadow: none !important;
}
.form_selectbox_wrapper {
    position: relative;
    background-image:none !important;
}
/* .form_selectbox_wrapper::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%-50%);
    border: 5px solid transparent;
    border-top-color: var(--primary-text-color);
    pointer-events: none;
} */

.form_custom_select {
    padding-right: 40px !important;
}
.form_custom_select option {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    font-weight: bold;
    font-family: var(--gothic-font) !important;
    letter-spacing: 1px;
}

.form_selectbox_wrapper select {
    width: 100% !important;
}


/* //////////////////  SCROLL DESIGN FOR SELECT BOX       /////////////////////////////// */
.css-1jj59y3-MenuList2 {
    max-height: 300px;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 4px;
    padding-top: 4px;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Smooth scrolling */
}

.css-1jj59y3-MenuList2::-webkit-scrollbar {
    width: 8px;
}

.css-1jj59y3-MenuList2::-webkit-scrollbar-thumb {
    background-color: #00B144; /* Scrollbar thumb color */
    border-radius: 4px; /* Rounded corners */
}

.css-1jj59y3-MenuList2::-webkit-scrollbar-thumb:hover {
    background-color: #009935; /* Thumb color on hover */
}

.css-1jj59y3-MenuList2::-webkit-scrollbar-track {
    background-color: #FFE53F; /* Scrollbar track color */
    border-radius: 4px; /* Rounded corners */
}

/* Optional: For other browsers, you can use the following pseudo-elements */
.css-1jj59y3-MenuList2::-moz-scrollbar {
    width: 8px;
}

.css-1jj59y3-MenuList2::-moz-scrollbar-thumb {
    background-color: #00B144;
    border-radius: 4px;
}

.css-1jj59y3-MenuList2::-moz-scrollbar-thumb:hover {
    background-color: #009935;
}

.css-1jj59y3-MenuList2::-moz-scrollbar-track {
    background-color: #FFE53F;
    border-radius: 4px;
}

/* Firefox only */
.css-1jj59y3-MenuList2 {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #00B144 #FFE53F; /* Thumb and track colors */
}



/*  /////////////////   Check Box   //////////////////// */

.form_checkbox_wrapper {
    width: 100%;
    background-color: transparent;
    padding: 10px 5px 10px 5px;
}
.form_checkbox_wrapper div{
       display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_checkbox_wrapper input {
    width: 50px !important;
    height: 30px !important;
    box-shadow: none;
    border: none !important;
    color: var(--primary-text-color) !important;
    border-radius: 20px !important;

}

.form_checkbox_wrapper input:checked {
    background-color: var(--secondary-bg-color) !important;
    border-color: none !important;
}
.form_checkbox_wrapper span {
    color: white !important;
    font-size: 18px !important;
    font-family: var(--gothic-font) !important;
    letter-spacing: 2px;
    font-weight: 600;
}
.form_input_wrapper .error_message,
.form_selectbox_wrapper .error_message,
.form_checkbox_wrapper .error_message{
    font-weight: 700 !important;
    font-family: var(--gothic-font) !important;
    letter-spacing: 1px;
    box-shadow:none !important;
margin-left: 10px !important;
}

.selectBox_error_message{
    font-weight: 700 !important;
    font-family: var(--gothic-font) !important;
    letter-spacing: 1px;
    box-shadow:none !important;
    
/* padding-left: 5px !important; */
margin-top: 0px !important;
}
.form_button_wrapper {
    text-align: center;
}
.form_button_wrapper button {
    padding: 4px 40px !important;
    border-radius: 30px !important;
    background-color: var(--white-bg-color);
    border: none;
    border-bottom: 4px solid gray;
    font-size: 28px !important;
    font-family: var(--gothic-font) !important;
    letter-spacing: 1px;
    color: var(--primary-text-color);

}
.form_button_wrapper button:focus {
    background-color: var(--secondary-bg-color) !important;
    border-bottom: 4px solid gray !important;

}
.form_button_wrapper .btn:hover {
    background-color: var(--secondary-bg-color) !important;
    border-bottom: 4px solid gray !important;
}

.form_bottle_wrapper {
    position: absolute;
    width: 200px;
    top: 113%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: formFadeIn 4.5s ease-in-out;
}

@media only screen and (max-width: 1300px) {
    .form_header_wrapper {
        width: 440px;
        height: auto;
    }
}

@media only screen and (max-width: 576px) {
    .form_header_wrapper {
        width: 70%;
    }

    .form_wrapper {
        width: 70% !important;
    }

    .form_bottle_wrapper {
        width: 28%;
        top: 118% !important;
    }
}
@media only screen and (max-width: 480px) {
    .form_header_wrapper {
        width: 80%;
    }

    .form_wrapper {
        width: 80% !important;
    }

    .form_bottle_wrapper {
        width: 32% !important;
        top: 110% !important;
    }
    .form_checkbox_wrapper input {
        width: 40px !important;
        height: 25px !important;
    }
    .form_checkbox_wrapper label {
        font-size: 12px !important;
    }
    .form_button_wrapper button {
        padding: 4px 30px !important;
        color: var(--primary-text-color);
        font-size: 20px !important;
    }


}

@media only screen and (max-width: 380px) {
    .form_bottle_wrapper {
        width: 43% !important;
        top: 100% !important;
    }
}

/* ///////////////  Max Height  ///////////////// */




@media (max-width: 500px) and (max-height: 950px) {

    .form_wrapper {
       padding: 30px 0 !important;
    }

    .form_bottle_wrapper {
        width: 38% !important;
        top: 115% !important;
    }

} 




@media (max-width: 500px) and (max-height: 800px) { 
    .form_wrapper {
        padding: 0 !important;
     }
        .form_input_wrapper,
     .form_selectbox_wrapper{
        margin: 3px 0 !important;
     }

     .form_bottle_wrapper {
         width: 38% !important;
         top: 118% !important;
     }


}

@media (max-width: 440px) and (max-height: 610px) {
    .form_header_wrapper {
        padding: 10px 0 !important;
        width: 70% !important;
    }
    .form_checkbox_wrapper {
        padding: 10px 5px 5px 5px !important;
     }
 

    
    .form_bottle_wrapper {
        width: 38% !important;
        top: 112% !important;
    }
}
