.landingPage_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-color);
}

.landingPage_container .landingPage_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    height: 100vh;
    background-color: var(--primary-bg-color);
    position: relative;
}
.landingPage_container .landingPage_col .header_image_wrapper {
    padding: 20px 0 10px 0 !important;
    width: 450px;
    height: auto;
}
.landingPage_container .landingPage_col .logo_wrapper {
    width: 110px;
    height: auto;
}

.landingPage_container .landingPage_col .spinner_wrapper {
    width: 80%;
    height: auto;
}


.button {
    font-size: larger;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
  }
  
  .roulette-button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: +9;
    border-radius: 5rem;
    width: 5rem;
    height: 5rem;
    transform: translate(-50%, -50%);
    background: white;
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  .roulette-button span{
    transform: rotate(45deg) !important; 
  }
  

 
  .spin_result_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

  
  .roulette-container {
    position: relative;
    width: 75%;
    max-width: 550px;
    aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg) !important;
  margin: 10px auto 0 auto;
  }
  
  .roulette-container > div {
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    
  }
  .prize-message {
    text-align: center;
    border: 1px solid #dcdcdc;
    padding: 10px 30px;
    border-radius: 1.5rem;
    font-size: 16px;
    background-color: white;
    color: var(--primary-text-color);
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    
  }
  .main-form {
    max-width: 600px;
    margin: 0 auto;
  }
  .sc-gsTCUz{
    overflow: hidden !important;
  }
  
  
  .sc-bdfBwQ,
  .sc-hKgILt,
  .gTLZXx,
  .cIKpxU{
display: none !important;
  }
  

@media only screen and (max-width: 1300px) {
    .landingPage_container .landingPage_col .header_image_wrapper {
        padding: 15px 0 0  0;
        width: 440px;
        height: auto;
    }
    .landingPage_container .landingPage_col .logo_wrapper {
        width: 120px;
        height: auto;
    }

}

@media only screen and (max-width: 576px) {
    .landingPage_container {
        padding: 0 !important;
    }
    .landingPage_container .landingPage_col .header_image_wrapper {
        width: 80%;
    }
    .landingPage_container .landingPage_col .logo_wrapper {
        width: 120px;
    }


}
@media only screen and (max-width: 480px) {
    .landingPage_container .landingPage_col .header_image_wrapper {
        width: 80%;
    }
    .landingPage_container .landingPage_col .logo_wrapper {
        width: 135px;
    }

  
}

/* ///////////////  Max Height  ///////////////// */

@media (max-height: 801px) {

  
    .landingPage_container .landingPage_col .logo_wrapper {
        width: 140px !important;
    }
}

@media (max-height: 620px) {

    .landingPage_container .landingPage_col .header_image_wrapper {
        padding: 10px 0 !important;
        width: 70% !important;
    }
    .landingPage_container .landingPage_col .logo_wrapper {
        width: 90px !important;
    }

  
}

